<!DOCTYPE html>
<html lang="en">
<!--
ng-app指令标记了AngularJS脚本的作用域，
在<html>中添加ng-app属性即说明整个<html>都是AngularJS脚本作用域。
开发者也可以在局部使用ng-app指令，如<div ng-app>，则AngularJS脚本仅在该<div>中运行。
-->
<head>
    <meta charset="UTF-8">
    <title>base page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>

<div id="changeApp" ng-app="changeApp" ng-controller="changeController" class="main">
    在angular中通过ng-change指令来为某个按钮绑定改变事件
    <input placeholder="请输入内容" type="text" ng-change="contextChange()" ng-model="msg"/>
    <input placeholder="请输入内容" type="text" ng-change="contextChange('hello')" ng-model="msg"/>
    <input placeholder="请输入内容" type="text" ng-change="contextChange('hello',$event)" ng-model="msg"/>
    文本发生改变了，其内容是:{{msg}}


    在angular中ng-change指令必须依赖于ng-model，比如在这个input中如果没有ng-model将会报错
    其次在ng-change中不能传递$event事件参数

</div>
<script src="js/angular.min.js"></script>
<script>
    angular.module("changeApp", []).controller("changeController", function ($scope) {

        $scope.contextChange = function () {
            console.log($scope.msg)
        }
        $scope.contextChange = function (msg) {
            console.log(msg)
        }

    })
</script>
</body>
</html>