<!DOCTYPE html>
<html lang="en">
<!--
ng-app指令标记了AngularJS脚本的作用域，
在<html>中添加ng-app属性即说明整个<html>都是AngularJS脚本作用域。
开发者也可以在局部使用ng-app指令，如<div ng-app>，则AngularJS脚本仅在该<div>中运行。
-->
<head>
    <meta charset="UTF-8">
    <title>base page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<div id="switchApp" ng-app="switchApp" ng-controller="switchController">
    <button class="btn btn-success" ng-click="changePage('page1')">商品服务</button>
    <button class="btn btn-success" ng-click="changePage('page2')">家装服务</button>
    <button class="btn btn-success" ng-click="changePage('page3')">商品评论</button>

    <input placeholder="请输入你要跳转的id" class="form-control" ng-model="result"/>

    <!--此处使用ng-switch指令，并on来接受其变量-->
    <div ng-switch on="result">
        <div ng-switch-default>商品服务</div>
        <div ng-switch-when="page2">家装服务</div>
        <div ng-switch-when="page3">商品评论</div>
    </div>

</div>
<script src="js/angular.min.js"></script>
<script>
    angular.module("switchApp", []).controller("switchController", function ($scope) {
        $scope.result = "page1";
        $scope.changePage = function (param) {
            $scope.result = param;
        }
    })
</script>
</body>
</html>