<!DOCTYPE html>
<html lang="en" ng-app>
<!--
ng-app指令标记了AngularJS脚本的作用域，
在<html>中添加ng-app属性即说明整个<html>都是AngularJS脚本作用域。
开发者也可以在局部使用ng-app指令，如<div ng-app>，则AngularJS脚本仅在该<div>中运行。
-->
<head>
    <meta charset="UTF-8">
    <title>base page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<!--ng-model 可以说是生命一个变量   指令绑定AngularJS应用数据的值到HTML输入控件。-->
<input class="form-control" ng-model="yourName" placeholder="请输入你的姓名"/>
<!--通过{{}} 来获取在ng-model中的变量的值 -->
<h1>you int content:{{yourName}}</h1>


<!--
这行代码载入angular.js脚本，当浏览器将整个HTML页面载入完毕后将会执行该angular.js脚本，
angular.js脚本运行后将会寻找含有ng-app指令的HTML标签，该标签即定义了AngularJS应用的作用域。
-->
<script src="js/angular.min.js"></script>
</body>
</html>